<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make a Donation</title>
    <h2>Make a Donation</h2>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="../../../static/css/basic.css">
</head>
<body>

<div id="header">
    {% block header %}
        {% if user.username %}
            <p>Hello User: {{ user.username }} | <a href="{% url 'logout-page' %}?next={{request.path}}">Logout</a></p>
        {% else %}
            <p><a href="{% url 'login-page' %}?next={{request.path}}">Login</a> | <a href="{% url 'donations:new_user' %}">Sign Up</a> </p>
        {% endif %}
    {% endblock %}
</div>

 Upcoming Events: <br>
 {% for event in object_list %}
    <a href="{% url 'donations:event_details' event.id %}">{{event.name}}</a>&nbsp;&nbsp;&nbsp;&nbsp;
 {% endfor %}
 <br>
 <br>
 {# {% if user.is_authenticated %} #}
    <a href="{% url 'donations:donor_info' %}">Donate Today!</a><br><br>
    <a href="{% url 'donations:create_event' %}">New Event</a><br><br>
 {# {% endif %} #}
</body>
</html>