<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make a Donation</title>
    <h2>Make a Donation</h2>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="../../../static/css/basic.css">
</head>
<body>
{% comment %}
<div id="header">
    {% block header %}
        {% if user.username %}
            <p>Hello User: {{ user.username }} | <a href="{% url 'django_accounts:logout' %}?next={{request.path}}">Logout</a></p>
        {% else %}
            <p><a href="{% url 'django_accounts:login' %}?next={{request.path}}">Login</a> | <a href="{% url 'donations:new_user' %}">Sign Up</a> </p>
        {% endif %}
    {% endblock %}
</div>
{% endcomment %}

 {% for donation_type in object_list %}
    <a href="{% url 'donations:product_details' product.id %}">{{donation_type}}</a>&nbsp;&nbsp;&nbsp;&nbsp;
 {% endfor %}
 <br>

{% comment %}
{% if user.is_authenticated %}
    <a href="{% url 'productapp:new_product' %}">New Product</a><br><br>
{% endif %}
{% endcomment %}
</body>
</html>