{% extends "users/base.html" %}
{% block navtop %}
<h1>am i in nav bar</h1>
{% endblock navtop %}

{% block content %}
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>
                    Log In
                    {{ form.as_p }}
                </legend>
            </fieldset>
            <div>
                <button type="submit"> Log In </button>
            </div>
        </form>
        <div>
            <small>'Need an account?'<a href="{% url 'register-page' %}">Sign Up Now</a></small>

        </div>
    </div>
{% endblock content %}
