{% extends "users/base.html" %}

{% block content %}
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>
                    Log In
                    {{ form.as_p }}
                </legend>
            </fieldset>
            <div>
                <button type="submit"> Log In </button>
            </div>
        </form>
        <div>
            <small>'Need an account?'<a href="{% url 'donations:new_user' %}">Sign Up Now</a></small>

        </div>
    </div>
{% endblock content %}
{% block side1link %}{% endblock side1link %}
{% block side1 %}{% endblock side1 %}
{% block side2 %}{% endblock side2 %}
{% block side3 %}{% endblock side3 %}
{% block side4 %}{% endblock side4 %}
{% block side5 %}{% endblock side5 %}